// ====== Footer Area ======
script(src='assets/js/jQuery.min.js' type='text/javascript')
script(src='assets/js/bootstrap.min.js' type='text/javascript')
// custom js link
script(src='assets/js/custom.js' type='text/javascript')

footer
  .container
    .row
      .col-md-4
         