doctype html
head
  title Help Kazi
  // meta-tags
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='Helpkazi is an online job booking system for maseno university')
  meta(name='keywords' content='Helpkazi, maseno online jos, remote jobs')
  meta(name='author' content='Stephen Mwau')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // font-awesome
  link(rel='icon' href='/assets/images/favicon.ico')
  // bootstrap-css
  link(href='/assets/css/bootstrap.min.css' rel='stylesheet')
  // <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  link(rel='stylesheet' href='/style.css')
  // google-fonts
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,400i' rel='stylesheet')
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" )
  script(src="/assets/main.js" defer) 
   

