extends base 

block content 
 .mwb_form_wrapper
  .container-fluid
    .row.mt-3
      .col-xl-12.col-md-6
      .m-3
      .col-xl-12.col-md-6
        .p-3
          .text-center
            h5.header-title.mt-0.mb-4 Our Terms and contitions
      .col-xl-12.col-md-6
        .p-3
          div
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Blanditiis veritatis nisi dicta consequatur delectus nam
              | maxime maiores recusandae, non ratione? Quis maxime officia
              | eveniet impedit amet! Autem asperiores aut dignissimos! Lorem
              | ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
              | veritatis nisi dicta consequatur delectus nam maxime maiores
              | recusandae, non ratione? Quis maxime officia eveniet impedit
              | amet! Autem asperiores aut dignissimos! Lorem ipsum dolor sit
              | amet consectetur adipisicing elit. Blanditiis veritatis nisi
              | dicta consequatur delectus nam maxime maiores recusandae, non
              | ratione? Quis maxime officia eveniet impedit amet! Autem
              | asperiores aut dignissimos! Lorem ipsum dolor sit amet
              | consectetur adipisicing elit. Blanditiis veritatis nisi dicta
              | consequatur delectus nam maxime maiores recusandae, non
              | ratione? Quis maxime officia eveniet impedit amet! Autem
              | asperiores aut dignissimos! Lorem ipsum dolor sit amet
              | consectetur adipisicing elit. Blanditiis veritatis nisi dicta
              | consequatur delectus nam maxime maiores recusandae, non
              | ratione? Quis maxime officia eveniet impedit amet! Autem
              | asperiores aut dignissimos!
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatum dolorem maxime, nemo placeat repellat error impedit
              | accusamus, asperiores nihil suscipit pariatur, mollitia
              | molestias dolor! Non aperiam tempore ex? Perferendis, ipsam.
      // end col
    hr.mt-5
    .row
      .col-md-12.p-3(style='text-align: center')
        h4 &copy; Help Kazi
